SOLACE_BROKER_URL="tcps://your_service.messaging.solace.cloud:55443"
SOLACE_BROKER_USERNAME=
SOLACE_BROKER_PASSWORD=
SOLACE_BROKER_VPN=
SOLACE_BROKER_TRUST_STORE_PATH="/usr/share/ca-certificates/mozilla"

AZURE_OPENAI_API_KEY=<api_key>
AZURE_OPENAI_API_ENDPOINT=<api_endpoint>
AZURE_OPENAI_API_VERSION=<api_version>
AZURE_OPENAI_MODEL_DEPLOYMENT=<model_deployment_id>

