[build-system]
requires = ["hatchling", "pip>=25.0", "setuptools>=70.0"]
build-backend = "hatchling.build"


[project]
name = "solace_ai_connector"
dynamic = ["version"]
authors = [
  { name="Edward Funnekotter", email="edward.funnekotter@solace.com" },
]
description = "Solace AI Connector - make it easy to connect Solace PubSub+ Event Brokers to AI/ML frameworks"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "boto3~=1.34.122",
    "PyYAML~=6.0.1",
    "Requests~=2.32.3",
    "solace_pubsubplus>=1.9.0",
    "Flask~=3.0.3",
    "Flask-SocketIO~=5.4.1",
    "build~=1.2.2.post1",
    "pymongo~=4.10.1",
    "pip>=25.0",
    "setuptools>=70.0",
]

[project.urls]
homepage = "https://github.com/SolaceLabs/solace-ai-connector"
repository = "https://github.com/SolaceLabs/solace-ai-connector"
documentation = "https://github.com/SolaceLabs/solace-ai-connector/blob/main/docs/index.md"


[project.scripts]
solace-ai-connector = "solace_ai_connector.main:main"
solace-ai-connector-gen-docs = "solace_ai_connector.tools.gen_component_docs:main"

[tool.hatch.envs.hatch-test]
installer = "pip"
dependencies = [
    "pip>=25.0",
    "setuptools>=70.0"
]

# Specify minimum and maximum Python versions to test
[[tool.hatch.envs.hatch-test.matrix]]
python = ["3.10", "3.12"]

[tool.hatch.build.targets.wheel]
packages = ["src/solace_ai_connector"]

[tool.hatch.version]
path = "src/solace_ai_connector/__init__.py"

[tool.ruff]
lint.select = ["E4", "E7", "E9", "F"]
lint.ignore = ["F401", "E731"]
